# {{ansible_managed}}

[client]
user = {{tsadmdb_siteenv[item].site_slug}}
password = {{ lookup('password', privdir+'/'+inventory_hostname+'.'+tsadmdb_siteenv[item].site_slug+'.my.passwd chars=ascii_letters,digits') }}

# {{ansible_managed}}
