# {{ansible_managed}}
[client]
user = {{item.site_name}}
password = {{ lookup('password', inventory_hostname + '.' + item.site_name + '.my.passwd chars=ascii_letters,digits') }}
# {{ansible_managed}}
